html, body { 
    width: 100%;
}

#RoomsDiv {
    display: flex;
    flex-direction: row;
}

.Room {
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer; 
}